Repository JaneJeon/express-objection-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

copy logger from myurl
  config/environments/default.yml
  config/environments/production.yml
  config/environments/test.yml
  lib/logger.js
Due: eslint --fix, prettier --write

add exit flushing juuuuuuust in case
  lib/logger.js
Due: eslint --fix, prettier --write

fix tests
  app.json
  config/acl.test.js
  config/environments/default.yml
  config/environments/development.yml
  config/environments/production.yml
  config/environments/test.yml
  config/index.test.js
  jest.config.js
  lib/queue.js
  middlewares/access-logger.js
  middlewares/error-handler.js
  middlewares/express-logger.js
  package.json
  routes/sessions.js
  server.js
Due: eslint --fix, prettier --write

lint
  scripts/generate-templates.js
Due: eslint --fix, prettier --write

Update config.yml
  .circleci/config.yml
Due: prettier --write

force exit on completion
  package.json
Due: prettier --write

forgot to add yarn coverage under 'run' subcommand
  .circleci/config.yml
Due: prettier --write

fix environment problem
  config/index.js
  nodemon.json
  package.json
Due: eslint --fix, prettier --write

changes from myURL
  models/base.js
  routes/users.js
  routes/users.test.js
Due: eslint --fix, prettier --write

add maildev message so I don't forget
  package.json
Due: prettier --write

delete the bang because it interferes with the clickable link [skip ci]
  package.json
Due: prettier --write

take out starter logic into own bin
  app.js
  bin/worker
  bin/www
  lib/logger.js
  package.json
  pm2.config.js
  routes/sessions.test.js
  routes/users.test.js
  worker.js
Due: eslint --fix, prettier --write

ignore coverage for binaries [skip ci]
  bin/worker
  bin/www
Due: none

ditch relations; define manually
  config/relations.yml
Due: prettier --write

remove relations from env
  config/index.js
  config/index.test.js
Due: eslint --fix, prettier --write

derive tablename from model
  migrations/20190601210528_create-users.js
Due: eslint --fix, prettier --write

config updates
  bin/www
  migrations/20190601210528_create-users.js
Due: eslint --fix, prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

fix nodemonrc
  .nodemonrc.yml
  nodemon.json
Due: prettier --write

closes #270
  .circleci/config.yml
Due: prettier --write

bump got@10
  package.json
  yarn.lock
Due: prettier --write

closes #287
  middlewares/error-handler.js
  models/base.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

closes #298
  lib/domain-checker.js
  models/user.js
  package.json
  services/filter-temp-email.js
  services/filter-temp-email.test.js
  yarn.lock
Due: eslint --fix, prettier --write

add github actions
  .circleci/config.yml
  .github/workflows/nodejs.yml
  README.md
  jest.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

github actions doesn't support anchors, it's so fucking stupid
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
  package.json
Due: prettier --write

node version cache key missing for non-matrix jobs
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

connect to container host and not localhost
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

maybe the ports dont need to be forwarded to tcp?
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

I have no idea how to resolve hosts with docker
  .github/workflow-templates/nodejs.yml
Due: prettier --write

I have no idea how to resolve hosts with docker
  .github/workflows/nodejs.yml
Due: prettier --write

fetch dynamic ports and inject them into knex
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

back to localhost, but don't let github pick a random port
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

mysql requires a user password AND a superuser password
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

double string interpolation not allowed by github actions
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

steps cannot use job environment variables until services have mounted
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

fix queue redis url error
  .github/workflow-templates/nodejs.yml
  lib/queue.js
Due: eslint --fix, prettier --write

I'm an idiot.
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

add more debugging information and bust cache
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

drop mysql support
  .github/workflow-templates/nodejs.yml
  .github/workflows/nodejs.yml
  migrations/20190601210528_create-users.js
Due: eslint --fix, prettier --write

mysql cannot have raw text fields for indexing
  migrations/20190601210528_create-users.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{js,md,json,yml,yaml,mjml})
